@import 'tailwindcss';

@theme {
  --color-sda-black: #070b14;
  --color-sda-gray: #162236;
  --color-sda-blue: #2c92fa;
  --color-sda-white: #f5f9ff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(
    to bottom right,
    var(--color-sda-gray),
    var(--color-sda-black)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--color-sda-white);
  font-family: var(--font-geist-sans), sans-serif;
}

.hero-gradient {
  background: linear-gradient(
    to bottom right,
    var(--color-sda-gray),
    var(--color-sda-black)
  );
}

.shadow-card {
  box-shadow: 0px 2px 10px 0px var(--color-sda-blue);
  transition: box-shadow 0.3s ease;
}

.shadow-card:hover {
  box-shadow: 0px 2px 16px 0px var(--color-sda-blue);
}

.hero-image-fade {
  background: radial-gradient(
    ellipse 100% 100% at center,
    transparent 0%,
    transparent 30%,
    rgba(7, 11, 20, 0.4) 50%,
    rgba(7, 11, 20, 0.8) 70%,
    rgba(7, 11, 20, 0.95) 85%,
    #070b14 100%
  );
}

.fade-edges {
  -webkit-mask-image:
    linear-gradient(to right, transparent, black 15%, black 85%, transparent),
    linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);

  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  mask-image:
    linear-gradient(to right, transparent, black 15%, black 85%, transparent),
    linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1rem;
  --slide-size: 35%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.embla__slide__img:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .embla {
    --slide-size: 33.333%;
  }
}

@media (min-width: 1024px) {
  .embla {
    --slide-size: 15%;
  }
}
