@import 'tailwindcss';

@theme {
  --color-sda-black: #070b14;
  --color-sda-gray: #162236;
  --color-sda-blue: #2c92fa;
  --color-sda-white: #f5f9ff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(
    to bottom right,
    var(--color-sda-gray),
    var(--color-sda-black)
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--color-sda-white);
  font-family: var(--font-geist-sans), sans-serif;
}

.shadow-card {
  box-shadow: 0px 2px 10px 0px var(--color-sda-blue);
  transition: box-shadow 0.3s ease;
}
.shadow-card:hover {
  box-shadow: 0px 2px 16px 0px var(--color-sda-blue);
}
